<GridLayout android:class="is-android" rows="auto, *" width="100%" height="100%">
    <!-- Barra de navegação superior -->
    <GridLayout row="0" class="customActionBar" columns="auto, *, auto" rows="auto">
        <Label col="0" (tap)="page.frame.goBack()" clearHistory="true" pageTransition="slideRight" text="&#xe5c4;" class="mdi btn-back-roud"></Label>
        <Label col="3" row="0" [text]="'icomoon-logo-oficial-v3' | fonticon" class="icomoon menu logo"></Label>
    </GridLayout>
<!-- Conteúdo -->
    <GridLayout row="1" class="page page-recipes-document" rows="*, auto" height="100%" width="100%">
        <CardView class="br-10" row="0" ios:margin="2 5" android:margin="5" [shadowOpacity]="0.1" android:shadowOffsetHeight="0" ios:shadowOffsetHeight="1" android:radius="20" ios:radius="10" width="90%">
            <ScrollView class="br-10">
                <ActivityIndicator *ngIf="!loadedAsync" busy="true"></ActivityIndicator>
                <WrapLayout *ngIf="loadedAsync" class="document-paper" orientation="horizontal" width="100%">
                    <!-- Médico -->
                        <GridLayout class="info-container" height="auto" columns="*, auto" rows="auto, auto, auto">
                            <StackLayout row="0" col="0" height="auto" class="doc-info">
                                <Label class="info-title" [text]="recipe.doctor.name"></Label>
                                <StackLayout height="auto" class="doc-info">
                                    <Label class="info-content" [text]="recipe.doctor.specialty"></Label>
                                    <Label class="info-content" text="CRM: {{ recipe.doctor.crm_number }}"></Label>
                                    <Label class="info-content" text="Tel.: {{ recipe.doctor.telephones[0].telephone_one }}"></Label>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout orientation="horizontal" row="0" col="1" verticalAlignment="top" horizontalAlignment="right">
                                <Label [nsRouterLink]="['/messages-details/' + recipeID + '/' + recipe.medical_patient.id]" text="&#xe907;"  class="icomoon icon-btn-radius"></Label>
                            </StackLayout>
                        </GridLayout>    
                    <!-- Paciente -->
                        <GridLayout class="info-container" height="auto" columns="*, auto" rows="auto, auto">
                            <StackLayout row="0" col="0" height="auto" class="doc-info">
                                <Label class="info-title" [text]="recipe.medical_patient.name"></Label>
                            </StackLayout>
                            <StackLayout orientation="horizontal" row="0" col="1" horizontalAlignment="right">
                                <Label class="info-content" [text]="moment().diff(recipe.medical_patient.date_of_birth, 'years') + ' anos'"></Label>
                            </StackLayout>
                            <StackLayout row="1" col="0" height="auto" class="doc-info">
                                <Label class="info-content" text="CPF: {{ recipe.medical_patient.cpf }}"></Label>
                                <Label class="info-content" textWrap="true" [text]="recipe.medical_patient.address"></Label>
                            </StackLayout>
                        </GridLayout> 
                    <!-- Medicamentos -->
                        <Label class="info-section" text="Medicamentos"></Label>
                        <GridLayout *ngFor="let item of recipe.medicines; let index = index" medicine-item [itens]="recipe.medicines" [index]="index" [item]="item"></GridLayout>
                    </WrapLayout>
            </ScrollView>
        </CardView>
        <StackLayout row="1" class="width-full" orientation="vertical">
            <!-- [nsRouterLink]="['/new-recipe/' + recipe.medical_patient.id + '/' + recipeID]"  -->
            <Button 
                [class.disabled]="!loadedAsync"
                (tap)="replicateRecipe()"
                [isEnabled]="loadedAsync"
                text="Replicar Receita"
                class="btn-rounded-sm btn-submit">
            </Button>
        </StackLayout>
    </GridLayout>
</GridLayout>