@import "~/fonts/variables/_colors.scss";

.upload-image {
    width: 70;
    height: 70;
    border-width: 1;
    border-color: $color-default;
    background-color: white;
    text-align: center;
    border-radius: 4;
    margin: 25 0 0;
}

.span {
    color: #666666;
    font-size: 10;
}

.text{
    color: #5D5D5D;
    font-size: 13;
}

.terms {
    color: #666666;
    font-size: 13;
    text-align: center;
    .link {
        color: $color-default;
    }
}

.label-switch {
    margin: 7 0;
}

.btn-submit{
    &.disabled{
        background-color: #dddddd;
      }
}

.font-text {
    font-size: 15;
    font-weight: bold;
}

.page-register {
    background-color: #f6f6f6;
     .show-password {
        color: $color-default;
    }
    .displaying {
        color: #5D5D5D;
    }
}

.customActionBar {
    background-color: $color-bg-page;
  }
  
  .allow {
    margin: 15;
  }
  
  .image-preview-photo {
    width: 220;
    height: 220;
    text-align: center;
    border-radius: 110;
    background: $color-default;
    overflow: hidden;
    Image,
    ImageCacheIt {
      border-width: 7px;
      border-color: $color-default;
      border-radius: 110;
    }
  }

  .edit-image {
    width: 46;
    height: 46;
    background-color: $color-default;
    color: white;
    font-size: 18;
    border-radius: 23;
    text-align: center;
  }