.page,
.sidedrawer-center{
    background: white;
}

.form-title{
    margin: 20 0;
}

.is_android .form-title{
    margin: 15 0 5;
}

.image-preview {
    background: #8FC9B8;
    text-align:center;
    border-radius: 110;
    font-size: 100;
    color: white;
    padding: 30;
    margin-top: 8;
}

.image-preview-photo{
    width: 220;
    height: 220;
    text-align:center;
    border-radius: 110;
    background: #8FC9B8;
    overflow: hidden;
    Image {
        border-radius: 110;
    }
}

.sidedrawer-header {
    height: auto;
    background: white;
}

.image-preview-outline {
    width: 220;
    height: 220;
    background:white;
    border-radius: 110;
    border-color: #8FC9B8;
    border-width: 1;
}

.form-title {
    text-align: center;
}

.btn-outline {
    text-transform: uppercase;
    font-weight: bold;
    color: #8FC9B8;
    border-color: #8FC9B8;
    border-radius: 12;
    font-size: 18;
    padding: 15 0;
    margin-top: 30;
    margin-bottom: 70;
}

.is-android {
    .btn-outline { 
        height: 50;
        padding: 0;
    }
}

.is_android .btn-outline {
    height: 50;
    font-size: 16;
    padding: 5 0;
    margin-bottom: 20;
}


.terms{
    font-size: 12;
    color: #A7A7A7;
    text-align: center;
}

.is_android .terms{
    font-size: 10;
}

.terms-links{
    font-size: 12;
    color: #A7A7A7;

}

.is_android .terms-links{
    font-size: 10;
}

.terms-link{
    color:#8FC9B8;
    font-weight: bold;
    text-decoration: underline;
}

.btn-next{
    margin-top: 30;
}