/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

.mdi {
    font-family: "Material Icons", "MaterialIcons-Regular";
    font-size:60;
  }
  
  .fa {
    font-family: "FontAwesome, fontawesome-webfont";
    font-size:60;
  }
  
  .icomoon {
    font-family: "icomoon";
    font-size:60;
  }