<GridLayout android:class="is-android" rows="auto, *" width="100%" height="100%">
<!-- Barra de navegação superior -->
    <GridLayout row="0" class="customActionBar" columns="auto, *, auto" rows="auto">
        <Label (tap)="topmost().goBack()" text="&#xe5c4;"  class="mdi btn-back-roud"></Label>
    </GridLayout>
<!-- Conteúdo -->
    <ScrollView row="1" class="page page-register" height="100%" width="100%">
        <ActivityIndicator *ngIf="!loadedAsync" busy="true"></ActivityIndicator>
        <StackLayout *ngIf="loadedAsync" class="br-10" width="100%" height="auto">
            <CardView width="94%" height="100%" margin="3%" class="br-10" ios:margin="2 5" android:margin="5" [shadowOpacity]="0.1" android:shadowOffsetHeight="0" ios:shadowOffsetHeight="1" android:radius="20" ios:radius="10">
                <GridLayout class="card-default form" columns="*, *, *, *, *" rows="auto, auto, auto, auto, auto, auto" horizontalAlignment="center" [formGroup]="formRegister">
                    <!-- Formulário de cadastro -->
                        <Label row="0" colSpan="5" text="Crie sua conta!" class="m-x-auto form-title"></Label>
                    <!--< Dados Pessoais -->
                        <Label row="1" colSpan="5" text="Dados Pessoais" class="form-section" padding="0 15"></Label>
                        <PreviousNextView *ngIf="loadedAsync" row="2" colSpan="5">
                            <GridLayout columns="*, *, *, *, *" rows="auto, auto, auto, auto, auto, auto, auto" padding="15">
                                <!-- Nome -->
                                <StackLayout row="0" colSpan="5" class="input-field">
                                    <Label text="&#xe7fd;"  class="btn mdi input-font" font-size="10"></Label>
                                    <TextField class="input hr-light" 
                                            returnKeyType="next"
                                            formControlName="name" 
                                            hint="Nome"
                                            ngDefaultControl
                                            [ngClass]="{ invalid: (submitted && formRegister.get('name').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Conselho -->
                                <StackLayout row="1" col="0" colSpan="3" class="input-field input-drop-down-field">
                                    <Label text="&#xe94a;" class="btn icomoon input-font" font-size="10"></Label>
                                    <DropDown
                                        *ngIf="loadedLists"
                                        itemsPadding="0"
                                        itemsTextAlignment="center"
                                        itemsPadding="0"
                                        itemsTextAlignment="center"
                                        [items]="advices"
                                        (selectedIndexChanged)="changeSelect($event, 'advice_id')"
                                        selectedIndex="{{ select_advice_value }}"
                                        (closed)="changeSelectClosed('select_speciality_value', 'specialty_id')"
                                        class="input-drop-down"
                                        [ngClass]="{ invalid: (submitted && formRegister.get('advice_id').invalid) || (formRegister.get('advice_id').value == '' && submitted == true)}">
                                    </DropDown>
                                </StackLayout>
                                <!-- Estado do Conselho -->
                                <StackLayout row="1" col="3" colSpan="2" class="input-field input-drop-down-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <DropDown
                                        *ngIf="loadedLists"
                                        itemsPadding="0"
                                        itemsTextAlignment="center"
                                        [items]="states"
                                        (selectedIndexChanged)="changeSelect($event, 'region_id')"
                                        selectedIndex="{{ select_region_value }}"
                                        class="input-drop-down"
                                        [ngClass]="{ invalid: (submitted && formRegister.get('region_id').invalid) || (formRegister.get('region_id').value == '' && submitted == true)}">
                                    </DropDown>
                                </StackLayout>
                                <!-- CRM -->
                                <StackLayout row="2" col="0" colSpan="2" class="input-field">
                                    <Label text="&#xe94b;"  class="btn icomoon input-font" font-size="10"></Label>
                                    <TextField class="input hr-light" 
                                            returnKeyType="next"
                                            formControlName="crm_number" 
                                            hint="Número de registro"
                                            ngDefaultControl
                                            [ngClass]="{ invalid: (submitted && formRegister.get('crm_number').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Especialidade -->
                                <StackLayout row="2" col="2" colSpan="3" class="input-field input-drop-down-field">
                                    <Label text="&#xe94a;" class="btn icomoon input-font" font-size="10"></Label>
                                    <DropDown
                                        *ngIf="loadedLists"
                                        itemsPadding="0"
                                        itemsTextAlignment="left"
                                        [items]="specialties"
                                        (selectedIndexChanged)="changeSelect($event, 'specialty_id')"
                                        selectedIndex="{{ select_speciality_value }}"
                                        class="input-drop-down"
                                        [ngClass]="{ invalid: (submitted && formRegister.get('specialty_id').invalid) || (formRegister.get('specialty_id').value == '' && submitted == true)}">
                                    </DropDown>
                                </StackLayout>
                                <!-- E-mail -->
                                <StackLayout row="3" colSpan="5" class="input-field">
                                    <Label text="&#xe94c;"  class="btn icomoon input-font" font-size="10"></Label>
                                    <TextField class="input hr-light" 
                                            returnKeyType="next" 
                                            formControlName="email" 
                                            autocorrect="false" 
                                            autocapitalizationType="none"
                                            hint="E-mail"
                                            ngDefaultControl
                                            [ngClass]="{ invalid: (submitted && formRegister.get('email').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Telefone -->
                                <StackLayout row="4" colSpan="3" class="input-field">
                                    <Label text="&#xe0cd;"  class="btn mdi input-font" font-size="10"></Label>
                                    <MaskedTextField 
                                        returnKeyType="next" 
                                        formControlName="telephone_one" 
                                        (textChange)="getValue($event, 'telephone_one')"
                                        mask="(00) 0000-00009" 
                                        class="input hr-light"
                                        hint="Telefone" 
                                        keyboardType="phone"
                                        ngDefaultControl
                                        [ngClass]="{ invalid: (submitted && formRegister.get('telephone_one').invalid || (submitted && formRegister.get('telephone_one').value.replace(rule, '').length < 10))}">
                                    </MaskedTextField>
                                </StackLayout>
                                <!-- Gênero -->
                                <StackLayout row="4" col="3" colSpan="2" class="input-field input-drop-down-field">
                                    <Label text="&#xe94e;" class="btn icomoon input-font" font-size="10"></Label>
                                    <DropDown
                                        *ngIf="loadedLists"
                                        itemsPadding="0"
                                        itemsTextAlignment="center"
                                        [items]="genres"
                                        (selectedIndexChanged)="changeSelect($event, 'genre')"
                                        selectedIndex="{{ select_genre_value }}"
                                        class="input-drop-down"
                                        [ngClass]="{ invalid: (submitted && formRegister.get('genre').invalid) || (formRegister.get('genre').value == '' && submitted == true)}">
                                    </DropDown>
                                </StackLayout>
                                <!-- RG -->
                                <StackLayout row="5" colSpan="3" class="input-field">
                                    <Label text="RG"  class="btn input-font font-text" font-size="10"></Label>
                                        <TextField 
                                            returnKeyType="next" 
                                            formControlName="rg" 
                                            ngDefaultControl
                                            class="input hr-light"
                                            [ngClass]="{ invalid: (submitted && formRegister.get('rg').invalid)}">
                                        </TextField>
                                    </StackLayout>
                                    <!-- Dt de Nascimento -->
                                    <StackLayout row="5" col="3" colSpan="2" class="input-field adjustment">
                                    <Label text="&#xf073;" class="btn fa input-font" font-size="10"></Label>
                                    <MaskedTextField 
                                        returnKeyType="next" 
                                        formControlName="date_of_birth"
                                        (textChange)="getValue($event, 'date_of_birth')"
                                        mask="00/00/0000"
                                        hint="Nascimento" 
                                        class="input hr-light"
                                        keyboardType="phone"
                                        ngDefaultControl
                                        [ngClass]="{ invalid: (submitted && formRegister.get('date_of_birth').invalid) || (submitted && !moment(formRegister.get('date_of_birth').value.replace('_', '').split('/').reverse().join('-')).isValid())}">
                                    </MaskedTextField>
                                </StackLayout>
                                <!-- CPF -->
                                <StackLayout row="6" col="0" colSpan="3" class="input-field">
                                    <Label text="CPF"  class="btn input-font font-text" font-size="10"></Label>
                                    <MaskedTextField 
                                        returnKeyType="next" 
                                        formControlName="cpf" 
                                        (textChange)="getValue($event, 'cpf')"
                                        mask="000.000.000-00"
                                        class="input hr-light"
                                        keyboardType="phone"
                                        ngDefaultControl
                                        [ngClass]="{ invalid: (submitted && formRegister.get('cpf').invalid || (submitted && formRegister.get('cpf').value.replace(rule, '').length != 11))}">
                                    </MaskedTextField>
                                </StackLayout>
                            </GridLayout>
                        </PreviousNextView>
                        <!-- Dados Pessoais >-->
                    <!--< Endereço -->
                        <Label row="3" colSpan="5" text="Endereço" class="form-section" padding="0 15"></Label>
                        <PreviousNextView *ngIf="loadedAsync" row="4" colSpan="5">
                            <GridLayout columns="*, *, *, *, *, *, *" rows="auto, auto, auto, auto, auto" padding="15">
                                <!-- Tipo -->
                                <StackLayout row="0" colSpan="7" class="input-field">
                                    <Label text="&#xe950;"  class="btn icomoon input-font" font-size="10"></Label>
                                    <TextField returnKeyType="next" 
                                                formControlName="locality" 
                                                hint="Tipo Ex: Consultório" 
                                                ngDefaultControl
                                                class="input hr-light"
                                                [ngClass]="{ invalid: (submitted && formRegister.get('locality').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- CEP -->
                                <StackLayout row="1" colSpan="3" class="input-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <MaskedTextField returnKeyType="next" 
                                        formControlName="street_code" 
                                        (textChange)="getValue($event, 'street_code')"
                                        mask="00000-000"
                                        hint="CEP" 
                                        class="input hr-light"
                                        (textChange)="getAddressByCep($event)"
                                        keyboardType="phone"
                                        ngDefaultControl
                                        [ngClass]="{ invalid: (submitted && formRegister.get('street_code').invalid || (submitted && formRegister.get('street_code').value.replace(rule, '').length != 8))}">
                                    </MaskedTextField>
                                </StackLayout>
                                <!-- Estado -->
                                <StackLayout row="1" col="3" colSpan="3" class="input-field input-drop-down-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <DropDown
                                        *ngIf="loadedLists"
                                        itemsPadding="0"
                                        itemsTextAlignment="center"
                                        [items]="states"
                                        (selectedIndexChanged)="changeSelect($event, 'state_id')"
                                        (closed)="changeSelectClosed('select_city_value', 'city_id')"
                                        selectedIndex="{{ select_state_value }}"
                                        class="input-drop-down"
                                        [ngClass]="{ invalid: (submitted && formRegister.get('state_id').invalid) || (formRegister.get('state_id').value == '' && submitted == true)}">
                                    </DropDown>
                                </StackLayout>
                                <!-- Número -->
                                <StackLayout row="1" col="5" colSpan="2" class="input-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font"></Label>
                                    <TextField returnKeyType="next" 
                                            formControlName="number" 
                                            hint="Nº" 
                                            ngDefaultControl
                                            class="input hr-light"
                                            [ngClass]="{ invalid: (submitted && formRegister.get('number').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Detalhe do Endereço -->
                                <StackLayout row="2" col="0" colSpan="7" class="input-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <TextField returnKeyType="next" 
                                                formControlName="street_title" 
                                                hint="Endereço" 
                                                ngDefaultControl
                                                class="input hr-light"
                                                [ngClass]="{ invalid: (submitted && formRegister.get('street_title').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Complemento -->
                                <StackLayout row="3" colSpan="4" class="input-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <TextField returnKeyType="next" 
                                                formControlName="complement" 
                                                hint="Complemento" 
                                                ngDefaultControl
                                                class="input hr-light"
                                                [ngClass]="{ invalid: (submitted && formRegister.get('complement').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Cidade --> 
                                <StackLayout row="3" col="4" colSpan="3" class="input-field input-drop-down-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <DropDown
                                        *ngIf="loadedLists"
                                        itemsPadding="0"
                                        itemsTextAlignment="left"
                                        [items]="citys"
                                        (selectedIndexChanged)="changeSelect($event, 'city_id')"
                                        selectedIndex="{{ select_city_value }}"
                                        [ngClass]="{ invalid: (submitted && formRegister.get('city_id').invalid) || (formRegister.get('city_id').value == '' && submitted == true)}">
                                    </DropDown>
                                </StackLayout>
                                <!-- Bairro -->
                                <StackLayout row="4" colSpan="7" class="input-field">
                                    <Label text="&#xe55f;"  class="btn mdi input-font" font-size="10"></Label>
                                    <TextField returnKeyType="next" 
                                                formControlName="district_title" 
                                                hint="Bairro" 
                                                ngDefaultControl
                                                class="input hr-light"
                                                [ngClass]="{ invalid: (submitted && formRegister.get('district_title').invalid)}">
                                    </TextField>
                                </StackLayout>
                            </GridLayout>
                        </PreviousNextView>
                        <!-- Endereço >-->
                    <!-- Definição de Senha >-->
                        <PreviousNextView *ngIf="loadedAsync" row="5" colSpan="5">
                            <GridLayout columns="*" rows="auto, auto, auto, auto, auto, auto" padding="0 15">
                                <!-- Senha -->
                                <Label row="0" text="Senha" class="form-section"></Label>
                                <StackLayout row="1" class="input-field">
                                    <Label text="&#xe897;"  class="btn mdi input-font" font-size="10"></Label>
                                    <TextField returnKeyType="next" 
                                                formControlName="password" 
                                                secure="true" 
                                                hint="Senha"
                                                ngDefaultControl
                                                class="input hr-light"
                                                [ngClass]="{ invalid: (submitted && formRegister.get('password').invalid)}">
                                    </TextField>
                                </StackLayout>
                                <!-- Confirmar Senha -->
                                <StackLayout row="2" class="input-field">
                                    <Label text="&#xe897;"  class="btn mdi input-font" font-size="10"></Label>
                                    <TextField returnKeyType="next" 
                                                formControlName="password_confirmation" 
                                                secure="true" 
                                                hint="Confirmar Senha"
                                                ngDefaultControl
                                                class="input hr-light"
                                                [ngClass]="{ invalid: (submitted && formRegister.get('password_confirmation').invalid || formRegister.get('password').value != formRegister.get('password_confirmation').value)}">
                                    </TextField>
                                </StackLayout>
                            </GridLayout>
                        </PreviousNextView>
                        <!-- Definição de Senha >-->
                </GridLayout>
            </CardView>
            <StackLayout height="auto" margin="20 0">
                <Button 
                    text="&#xf061;"
                    class="btn fa btn-rounded-sm btn-submit br-12"
                    (tap)="registerUser()"
                    isEnabled="{{!inProccess}}">
                </Button> 
            </StackLayout>
        </StackLayout>
    </ScrollView>
    <!--  Submissão de formulário >-->
</GridLayout>
    
    