.upload-image {
    width: 70;
    height: 70;
    border-width: 1;
    border-color: #8EA4D2;
    background-color: white;
    text-align: center;
    border-radius: 4;
    margin: 25 0 0;
}

.span {
    color: #666666;
    font-size: 10;
}

.text{
    color: #5D5D5D;
    font-size: 13;
}

.terms {
    color: #666666;
    font-size: 13;
    text-align: center;
    .link {
        color: #8EA4D2;
    }
}

.label-switch {
    margin: 7 0;
}

.btn-submit{
    &.disabled{
        background-color: #dddddd;
      }
}

.font-text {
    font-size: 15;
    font-weight: bold;
}