<drawer-content>
    <GridLayout *ngIf="userProfile" rows="310, auto, auto, auto" columns="*" height="100%">
    <!--< Imagem do Perfil -->
        <StackLayout row="0" col="0" horizontalAlignment="center" width="310" height="310" backgroundColor="#f5f5f5">
            <ImageCacheIt class="doc-avatar" [src]="userProfile.image" stretch="aspectFill" row="0" col="0"></ImageCacheIt>
        </StackLayout>
    <!--< Edição do Perfil -->
        <StackLayout row="1" col="0" class="content-profile doctors">
            <GridLayout columns="240, auto" rows="auto, auto" class="menu-profile">
                <StackLayout row="0">
                    <Label class="h1 doc-title" [text]="userProfile.name"></Label>
                </StackLayout>
                <StackLayout row="1">
                    <Label class="h5 doc-detail" text="{{userProfile.cidade}} - {{userProfile.uf}}"></Label>
                </StackLayout>
                <StackLayout row="0" col="1" rowSpan="2">
                    <StackLayout>
                        <Label [nsRouterLink]="['/my-profile']" pageTransition="slideLeft" text="&#xe955;" class="icomoon edit"></Label>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
            <StackLayout class="hr-dark menu-divisor"></StackLayout>
        </StackLayout>
    <!--< Menu -->
        <ScrollView row="2" col="0"
        height="{{
            screen.mainScreen.heightDIPs < 710 ? (isAndroid ? '170' : '250') : '300'
          }}">
            <StackLayout height="auto" class="menu-profile">
                <FlexboxLayout *ngFor="let item of menuList; let index = index;" flexDirection="row" class="sidedrawer-list-item" nsRouterLink="{{ [item.route] }}" pageTransition="slideLeft" [class.selected]="isComponentSelected(item.route)">
                    <StackLayout class="text-center">
                        <Label [text]="item.icon | fonticon"  class="menu-icon" [ngClass]="item.class"></Label>
                    </StackLayout>
                    <StackLayout flexGrow="2" class="text-left">
                        <Label class="menu-item" [text]="item.name"></Label>
                    </StackLayout> 
                    <StackLayout class="text-right">
                        <Label *ngIf="item.badge > 0" [text]="item.badge" class="badge"></Label>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>
        </ScrollView>
    <!--< Saída -->
        <FlexboxLayout row="3" col="0" flexDirection="row" class="sidedrawer-list-item" (tap)="loggout()">
            <StackLayout class="text-center">
                <Label [text]="'icomoon-exit'| fonticon" class="menu-icon icomoon"></Label>
            </StackLayout>
            <StackLayout flexGrow="2" class="text-left">
                <Label class="menu-item" text="Sair"></Label>
            </StackLayout> 
            <StackLayout flexGrow="2" class="text-right">
                <Label class="menu-item" text="v3.2.1"></Label>
            </StackLayout>
        </FlexboxLayout>
    </GridLayout>
</drawer-content>