.sidedrawer-list-item {
    height: 35;
    padding: 7 15 3;
    background-color: transparent;
    margin: 3 0;
    StackLayout,
    Label{
        height: auto;
        padding: 0;
        margin: 0;
    }
    .menu-icon {
        margin: 0 10 0 0;
    }
}

.doc-avatar {
    width: 100%;
    height: 100%;
}

.content-profile {
    .edit {
        color: #55D3AE;
        padding: 10;
        margin: 0;
        font-size: 20;
    }
}