<GridLayout class="br-10"  columns="auto, *, auto" rows="auto" [nsRouterLink]="(linkField) ? [linkField] : []" pageTransition="slideLeft" padding="10">
    <ImageCacheIt row="0" col="0" class="image" [src]="imageField"></ImageCacheIt>
    <StackLayout row="0" col="1" colSpan="{{ (timeField) ? 1 : 2}}" horizontalAlignment="left" verticalAlignment="center">
        <Label class="title" [text]="titleField"></Label>
        <Label *ngIf="descriptionField" class="description" [text]="descriptionField"></Label>
    </StackLayout>
    <StackLayout row="0" col="2" class="info">
        <Label text="{{ (timeField) ? formatDate(timeField) : '' }}" class="time"></Label>
        <Label *ngIf="badgeField && badgeField > 0" orientation="horizontal" horizontalAlignment="right" [text]="badgeField" class="badge" [ngClass]="{'activated': (activatedField)}" android:paddingTop="4"></Label>
    </StackLayout>
</GridLayout> 