@import "~/fonts/variables/_colors.scss";

.customActionBar {
    background-color: $color-bg-page;
}

.title-page {
    margin-left: -5;
}

.is-android {
    .title-page {
        margin-left: 1;
    }
}

.anamnese-info {
    padding: 0 15 15;
}

.anamnese-grid {
    margin: 15 0 0;
}

.question {
    height: auto;
    color:#5D5D5D;
    font-size: 12;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    margin: 5 0 0;
}

.sub-row {
    height: auto;
    margin: 0;
    padding: 0;
}

.sub-question{
    font-size: 12;
    height: auto;
    padding: 0;
    margin: 5 0 0;
}

.choice{
    margin: 0;
}

.input-field,
.input-field .input {
    padding-left: 0;
    margin: 5 0;
    color:#5D5D5D;
  }

.has-information{
    color: red;
    font-weight: bold;
}

.has-information-bg {
    background-color: #dddddd;
    padding: 8;
    .question,
    .sub-question {
        color: black;
    }
    .value {
        font-size: 12;
        margin: 3 0 0;
    }
    .has-information {
        color: red;
    }
    .input-field,
    .input-field .input { 
        background-color: #dddddd;
        color: red;
        font-weight: bold;
        margin: 5 0 0;
    }
}

.btn-submit{
    margin: 20 15;
    background-color: $color-default;
    color: white;
    font-size: 16;
    text-transform: uppercase;
    font-weight: bold;
    &.disabled{
      background-color: #dddddd;
    }
}

.separator {
    width: 100%;
    height: 2;
    background-color: #dddddd;
    margin: 5 0 10;
}