.page-patients {
    background-color: #F5F5F5;
    padding: 5 0;
}

.list-patients {
    background-color: transparent;
    separator-color: transparent;
}

.list-view-item {
    .avatar {
        width: auto;
        height: 50;
        border-radius: 25;
    }
    
    .title {
        color: #5D5D5D;
    }
    
    .input-font {
        height: 50;
        font-size: 14;
        color: #FFBA49;
        text-align: center;
    }
}

.contact-user {
    margin: 0 5;
}
