
<GridLayout android:class="is-android" rows="auto, *" width="100%" height="100%">
<!-- Barra de navegação superior -->
    <GridLayout row="0" class="customActionBar" columns="auto, *, auto" rows="auto">
        <Label col="0" nsRouterLink="/patients" clearHistory="true" pageTransition="slideRight"  text="&#xe5c4;" class="mdi btn-back-roud"></Label>
    </GridLayout>
<!-- Conteúdo -->
    <AbsoluteLayout row="1" class="page page-recipes" width="100%" ios:height="91%" android:height="93%" padding="0" margin="0">

    <!-- Conteúdo  -->
        <GridLayout class="page page-recipes-document" rows="auto, auto, *" top="0" height="100%" width="94%" margin="0 3%">
        <!-- Cabeçalho  -->
            <StackLayout row="0">
            <!-- Título -->
                <Label class="h3 title-page" text="Receitas prescritas"></Label>
            <!-- Busca -->
                <!-- Contato -->
                <StackLayout class="contact-user" *ngIf="patientInfo" contact-user [contact]="patientInfo" [show-recipe]="false" [show-contact]="true"></StackLayout>
            </StackLayout>
        <!-- Carregamento -->
            <StackLayout row="1" *ngIf="!loadedAsync" horizontalAlignment="center" verticalAlignment="center" width="100%">
                <ActivityIndicator busy="true"></ActivityIndicator>
            </StackLayout>
        <!-- Lista vazia -->
            <StackLayout row="1" class="empty-list" *ngIf="this.allRecipes.length == 0" horizontalAlignment="center" verticalAlignment="center" ios:top="97" android:top="101">
                <Label text="Nenhum registro encontrado."></Label>
            </StackLayout>
        <!-- Conteúdo  -->
            <ScrollView row="2" #terminalScroller id="scroll" *ngIf="loadedAsync">
                <WrapLayout height="100%">
                    <ListView 
                    height="100%"
                    [items]="allRecipes"
                    class="list-patients">
                    <ng-template let-item="item" let-i="index">
                        <recipe-item [item]="item.recipe" link="/recipes-document/" image-or-icon="icon"></recipe-item>
                    </ng-template>
                </ListView>
            </WrapLayout>
            </ScrollView>
        </GridLayout>

    <!-- Botão flutuante -->
        <CardView class="card-float-button" [shadowOpacity]="0.4" shadowOffsetHeight="1" radius="110" orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" left="{{ (screen.mainScreen.widthDIPs) / 100 * ((isAndroid) ? 76 : 74) }}" top="{{ (screen.mainScreen.heightDIPs) / 100 * ((isAndroid) ? 70 : 72) }}">
            <Label [nsRouterLink]="['/new-recipe/' + patientID]" pageTransition="fade" text="&#xe92e;"  class="icomoon float-button"></Label>
        </CardView>
    </AbsoluteLayout>
</GridLayout>