.page-recipes {
    background-color: #F5F5F5;
    padding: 5 0;
}

.decoration {
    margin: 10;
}

.intro {
    background-color: transparent;
    color: #71b9b9;
    font-size: 20;
    text-align: center;
    &.create {
        color: #5D5D5D;
        font-size: 22;
        margin: 20 0 0;
    }
}

.item-list {
    width: 100%;
    border-radius: 10;
    background-color: white;
    padding: 10;
    margin: 5 7;
    border-width: 1;
    border-color: white;
}

.avatar {
    width: 50;
    margin: 9 10 0 0;
    border-radius: 25;
}

.title {
    margin: -5 0 0;
    font-size: 18;
    color: #83d6b9;
    font-weight: bold;
}

.strong {
    font-size: 15;
    color: #71b9b9;
    font-weight: bold;

}

.row-content {
    width: 100%;
    text-align: left;
    margin: 3 0 0;
}

.content {
    font-size: 14;
    color: #5D5D5D;
}

.text {
    margin: 20;
}

.info {
    font-size: 17;
}

.list-recipes {
    width: 100%;
    ListView {
        background-color: transparent;
        separator-color: transparent;
    }
    .list-divisor {
        width: 100%;
        height: 50;
        margin-bottom: 10;
        .date {
            width: auto;
            height: 30;
            font-size: 15;
            color:#5D5D5D;
            background-color: #F5F5F5;
            text-transform: capitalize;
            padding: 0 5;
        }

        .view.mdi {
            width: auto;
            height: 30;
            color:#5D5D5D;
            background-color: #F5F5F5;
            padding: 0 5;
            font-size: 30;
        }
    }
    .list-content {
        width: 100%;
        margin-top: -10;
        .input-font {
            font-size: 15;
            margin: 20 0 0 20;
            padding: 0 5 0;
            text-align: right;
            color: #f6c46a;
        }
    }
}

