<GridLayout android:class="isAndroid"  rows="auto, *" width="100%" height="100%">
<!-- Barra de navegação superior -->
    <GridLayout row="0" class="customActionBar" columns="auto, *, auto" rows="auto">
        <Label col="0" row="0" (tap)="onDrawerButtonTap(true)" text="&#xe5d2;" class="mdi menu"></Label>
        <Label col="3" row="0" [text]="'icomoon-logo-oficial-v3' | fonticon" class="icomoon menu logo"></Label>
    </GridLayout>
<!-- Conteúdo -->
    <AbsoluteLayout row="1" class="page page-recipes" width="100%" ios:height="91%" android:height="93%" padding="0" margin="0">
    <!-- Conteúdo  -->
        <GridLayout *ngIf="displayOption.hasList" class="page page-recipes-document" rows="auto, auto, *" top="0" height="100%" width="94%" margin="0 3%">
        <!-- Cabeçalho  -->
            <StackLayout row="0">
            <!-- Título -->
                <Label class="h3 title-page" text="Receitas prescritas"></Label>
            <!-- Busca -->
                <CardView [shadowOpacity]="0.1" android:shadowOffsetHeight="0" ios:shadowOffsetHeight="1" android:radius="20" ios:radius="10" margin="{{ (isAndroid) ? '1 3% 2' : '0 3%'}}" search-top-bar [enabled]="true" (search)="search($event)" placeholder="Pesquisar" icon="icomoon-search" icon-position="right">
                </CardView>
            </StackLayout>
        <!-- Carregamento -->
            <StackLayout row="1" *ngIf="!loadedAsync" horizontalAlignment="center" verticalAlignment="center" width="100%">
                <ActivityIndicator busy="true"></ActivityIndicator>
            </StackLayout>
        <!-- Lista vazia -->
            <StackLayout row="1" class="empty-list" *ngIf="this.recipes.length == 0" horizontalAlignment="center" verticalAlignment="center" ios:top="97" android:top="101">
                <Label text="Nenhum registro encontrado."></Label>
            </StackLayout>
        <!-- Conteúdo  -->
            <ScrollView row="2">
                <GridLayout height="100%" rows="*" class="list-recipes">
                    <ListView row="1"
                        [items]="recipes"
                        (loadMoreItems)="loadMore()">
                        <ng-template
                            let-item="item"
                            let-i="index"
                            let-odd="odd"
                            let-even="even">
                            <FlexboxLayout class="list-recipes">
                                <StackLayout>
                                    <DockLayout flexDirection="column" class="list-divisor" *ngIf="visibleMonth(item.recipe_id)">
                                        <AbsoluteLayout>
                                            <Label class="line" left="0" top="{{ (isAndroid) ? 5 : 10}}"></Label>
                                            <Label class="date" left="0" top="14" [text]="formatMonth(item)"></Label>
                                        </AbsoluteLayout>
                                    </DockLayout>
                                    <FlexboxLayout flexDirection="column" class="list-content">
                                        <DockLayout width="100%">
                                            <recipe-item [item]="item" link="/recipes-document/" image-or-icon="image"></recipe-item>
                                        </DockLayout>
                                    </FlexboxLayout>
                                </StackLayout>
                            </FlexboxLayout>
                        </ng-template>
                    </ListView>
                </GridLayout>
            </ScrollView>
        </GridLayout>
    <!--< Tela sem conteúdo -->
        <GridLayout top="0" rows="*" *ngIf="loadedAsync && displayOption.emptyList" height="100%" width="100%">
            <FlexboxLayout row="0" class="decoration" width="100%" justifyContent="space-around" alignItems="stretch">
                <Image alignSelf="center" src="~/image-source/empty-recipes.png" width="55%"></Image>
            </FlexboxLayout>
        </GridLayout>  
    <!-- Tela sem conteúdo >-->
    <!-- Botão flutuante -->
        <CardView class="card-float-button" [shadowOpacity]="0.4" shadowOffsetHeight="1" radius="110" orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" left="{{ (screen.mainScreen.widthDIPs) / 100 * ((isAndroid) ? 76 : 74) }}" top="{{ (screen.mainScreen.heightDIPs) / 100 * ((isAndroid) ? 70 : 72) }}">
            <Label (tap)="addRecipes()" text="&#xe92e;"  class="icomoon float-button"></Label>
        </CardView>
    </AbsoluteLayout>
</GridLayout>