@import "~/fonts/variables/_colors.scss";

.wrap-layout-bar{
    padding-top: 60;
}

.customActionBar,
.page-messages-details { 
    background-color: #FDFBFB; 
}

.contact-user{
    padding: 0 15;
}

.header {
    width: 100%;
    height: 2;
    border-bottom-width: 2;
    border-bottom-color: #989898;
    &.connected {
        border-bottom-color: $color-default;
    }
    &.disconnected {
        border-bottom-color: orange;
    }
}

.flex-actions {
    padding: 15 0;
}
  
    .doc-avatar{
        width: 45;
        margin: 0 10;
    }
  
    .doc-title {
        color: #8FC9B8;
        font-size: 16;
        font-weight: bold;
        margin: 0 5;
    }

    .body {
        margin: 15;
        color: #606060;
    }

    .doc-detail,
    .doc-time {
        color:#989898;
        font-size: 13;
        font-style: italic;
        text-align: center;
    }

    .html-view{
        font-size: 30;
        color:#666666;
        font-family: 'seravek';
        background-color: transparent;
    }

    .comments{
        width: auto;
        height: auto;
        background-color: white;
        padding: 15;
        margin: 10 2;
    }

    .page-recipes-details .doctors{
        border-width: 0;
        background-color: white;
        padding: 10;
    }

    .actions-mobile{
        margin-right: 5;
    }

    .is_android .btn-inner-default .btn-title{
        margin-top: 5;
    }

    .is_android .btn-inner-default .btn-icon{
        margin-top: 8;
    }

    .send-comments{
        background-color: $color-default;
    }
    
    .input-field{
        background-color: white;
        border-radius: 6;
    }

    .input-field .input {
        color: #828282;
        placeholder-color: #606060;
        padding-left: 10;
    }

    .input-field.invalid{
        border-width: 1;
        border-color: #ff1744;
      }
      
      Button{
          margin-top: 1;
      }

      .content {
          font-weight: bold;
      }

      .submit-comment {
          width: 42;
          height: 42;
          background-color: transparent;
          text-align: center;
          border-width: 1;
          border-color: transparent;
          color: white;
          font-size: 30;
          margin: 12 25;
          padding: 0;
          z-index: 0;
      }

      .text {
          width: 80%;
          min-height: 44.72;
          font-size: 18;
          padding: 10;
          margin: 0 0 20;
          border-radius: 10;
          text-decoration: none;
          background-color: white;
          border-color: transparent;
          --android-line-color: transparent;
      }

      .hidden {
          width: 78%;
          height: auto;
          max-height: 215;
          overflow: hidden;
          opacity: 0;
      }