
.medicament {
    width: 100%;
    color: #5D5D5D;
    padding: 0 15;
    .medicament-info {
        font-size: 14;
    }
    .medicament-label {
        .icomoon {
            font-size: 18;
            color: #35A9A8;
        }
        .medicament-info {
            font-size: 16;
            font-style: italic;
        }
    }
    .slider {
        margin: 5 0;
        padding: 0;
        color: #55D3AE;
    }
}

.search,
.dosage {
    margin: 0 0 20;
}

.considerations {
    padding: 0 15;
    margin: 0 0 5;
}

.input-field {
    border: 0;
    background-color: transparent;
    border-bottom-width: 1;
    border-bottom-color: #C2C7D1;
    .input-font {
        color: #35A9A8;
        font-size: 18;
    }
    .input {
        margin: 5 0 0;
    }
}

.medicament-point {
    width: 15;
    height: 15;
    background-color: #C2C7D2;
    border-radius: 7.5;
    &.choiced {
        background-color: #55D3AE;
    }
}

.timeline {
    height: 80;
    background-image: url('~/image-source/line.png');
    background-repeat: repeat-x;
    background-position: 50 27;
    padding: 20 15;
    .medicament-point, 
    .separate, 
    .time {
        color:#C2C7D2;
        horizontal-align: center;    
    }
    .separate {
        font-size: 10;
        margin: 5 0;
    }
    .time {
        font-size: 15;
    }
}

.medicine-item,
.info-medicine {
    height: auto;
}

.is-android {
    .item-closed {
        .info-medicine {
            margin: 5 0;
        }
    }
    .timeline {
        width: 100%;
        height: 100;
        margin: 0;
        background-position: 50 80;
        .separate {
            margin:  0;
        }
        .time {
            margin: -2 0 0;
            font-size: 15;
            height: 40;
            width: 40;
            text-align: center;
        }
    }
}


.input-drop-down {
    width: auto;
    padding: 0;
    margin: 0;
}


.medicament-description {
    width: 100%;
    height: 100;
    font-size: 17;
    border-bottom-width: 1;
    border-bottom-color: #C2C7D1;
    color: #5D5D5D;
    font-style: italic;
}

.item-closed {
    width: 100%;
    height: auto;
    background-color: rgba(181, 181, 181, 0.18);
    color: #5D5D5D;
    .item-edit {
        width: 55;
        height: 80;
        margin: 0;
        padding: 0;
        background-color: #55D3AE;
        vertical-align: middle;
    }
    .item-remove {
        width: 45;
        height: 80;
        margin: 0;
        padding: 0;
        background-color: #f44336;
        color: white;
        vertical-align: middle;
        .icomoon {
            font-size: 16;
        }
    }
    .icomoon {
        color: #35A9A8;
        font-size: 15;
    }
    .btn {
        color: white;
        font-size: 26;
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

.info {
    margin: 0 5;
    .info-medicine {
        font-size: 12;
    }
    .icomoon {
        margin: 5;
    }
}


.title {
    font-size: 15;
    font-weight: bold;
    color:#55D3AE;
}

.subtitle {
    font-size: 13;
    color: #5D5D5D;
}

.description {
    font-size: 11;
    color:rgb(136, 133, 133);
}

.selected {
    height: auto;
    margin: 15 0;
    background-color:#9C9FA7;
    .title {
        font-size: 17;
        font-weight: bold;
        padding: 5;
        background-color:#F1F1F1;
    }
    
    .subtitle {
        font-size: 14;
        padding: 2 5;
        background-color:#F1F1F1;
    }
    
    .description {
        font-size: 12;
        padding: 2 5 5;
        background-color:#F1F1F1;
    }
}

.close {
    background-color: #9C9FA7;
    font-size: 16;
    text-align: center;
    display: inline-block;
    text-align: center; 
    vertical-align: center;
    .icomoon {
        color: white;
        font-size: 26;
        vertical-align: center;
    }
}

.line{
    margin: 0 0 20;
}

.add-medicine {
    margin: 20;
    .icomoon {
        font-size: 23;
        color: white;
        background-color: #FFBA49;
        border-width: 1;
        border-color: #9AAED6;
        border-radius: 11.5;
        margin: 10 5;
        font-weight: bold;
    }
    .button {
        color: #55D3AE;
        font-weight: bold;
        font-size: 20;
    }
}

.btn-submit {
    padding: 5 25;
    font-size: 21;
    background-color: #55D3AE;
    margin: 0 0 10;
}

.vality {
    margin: 20;
    .icomoon {
        color: #046B9E;
        font-size: 20;
    }
    .label{
        color: #7B7878;
        font-size: 15;
        font-style: italic;
    }
}