<GridLayout android:class="is-android" rows="auto, auto, auto, auto" width="100%" height="100%">
    <GridLayout [visibility]="!item.opened ? 'visible' : 'collapsed'" row="0" columns="auto, *, auto" rows="40, 40" class="item-closed">
        <StackLayout col="0" row="0" rowSpan="2" (tap)="openMedicine(item)" class="item-edit">
            <Label text="&#xe955;"  class="btn icomoon"></Label>
        </StackLayout>
        <StackLayout *ngIf="selected" col="1" row="0" orientation="horizontal" horizontalAlignment="left" class="info">
            <Label text="&#xe95b;"  class="icomoon"></Label>
            <Label *ngIf="selected" textWrap="true" [text]="formRecipe.get('title').value" class="info-medicine"></Label>
        </StackLayout>
        <StackLayout *ngIf="selected" col="1" row="1" orientation="horizontal" horizontalAlignment="left" class="info">
            <StackLayout orientation="horizontal" horizontalAlignment="left">
                <Label text="&#xe95c;"  class="icomoon"></Label>
                <Label textWrap="true" text="{{ formRecipe.get('dosage').value }} uni" class="info-medicine"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" horizontalAlignment="left" class="info">
                <Label text="&#xe959;"  class="icomoon"></Label>
                <Label textWrap="true" text="{{ formRecipe.get('number_of_days').value | number:'1.0-0' }} dias" class="info-medicine"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" horizontalAlignment="left" class="info">
                <Label text="&#xe95d;"  class="icomoon"></Label>
                <Label textWrap="true" text="{{ formRecipe.get('frequency').value }}h em {{ formRecipe.get('frequency').value }}h" class="info-medicine"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout col="2" row="0" rowSpan="2" (tap)="removeItem(item)" class="item-remove">
            <Label text="&#xe905;"  class="btn icomoon"></Label>
        </StackLayout>
    </GridLayout>
    <StackLayout [visibility]="item.opened ? 'visible' : 'collapsed'" row="1" [formGroup]="formRecipe" class="medicine-item">
        <Label class="line"></Label>
        <!-- Medicamento -->
        <StackLayout *ngIf="showSearch" padding="0 15">
            <StackLayout class="input-field search">
                <Label text="&#xe95b;"  class="btn icomoon input-font"></Label>
                <search-top-bar (search)="search($event)" placeholder="Medicamento" icon="icomoon-pills" icon-position="left"></search-top-bar>
            </StackLayout>
            <StackLayout *ngFor="let item of medicineList; let i = index" (tap)="selectMedicine(item)" padding="5">
                <Label [text]="item.titulo" class="title"></Label>
                <Label [text]="item.subtitulo" class="subtitle"></Label>
                <Label [text]="item.descricao" textWrap="true" class="description"></Label>
            </StackLayout>
        </StackLayout>
        <GridLayout *ngIf="!showSearch" class="selected" rows="auto, auto, auto" columns="*, 60">
            <Label  [text]="selected.titulo" row="0" col="0" class="title"></Label>
            <Label  [text]="selected.subtitulo" row="1" col="0" class="subtitle"></Label>
            <Label  [text]="selected.descricao" row="2" col="0" class="description"></Label>
            <StackLayout row="0" col="1" rowSpan="3" class="close">
                <Label text="&#xe905;" class="icomoon" (tap)="removeMedicine()"></Label>
            </StackLayout>
        </GridLayout>
        <!-- Período -->
        <GridLayout class="medicament number_of_days" rows="auto, auto" columns="auto * auto">
            <StackLayout row="0" col="0" orientation="horizontal" horizontalAlignment="left" class="medicament-label">
                <Label text="&#xe959;"  class="icomoon"></Label>
                <Label textWrap="true" text=" Período" class="medicament-info"></Label>
            </StackLayout>
            <StackLayout
            row="1" 
            col="0" 
            colSpan="3">
                <Slider 
                    formControlName="number_of_days" 
                    (valueChange)="onSliderValueChange($event)" 
                    minValue="0" 
                    maxValue="100" 
                    class="slider"
                    ngDefaultControl>
                </Slider>
            </StackLayout>
            <StackLayout row="0" col="3" orientation="horizontal" horizontalAlignment="right">
                <Label [text]="formRecipe.get('number_of_days').value | number:'1.0-0'" class="medicament-info" textWrap="true"></Label>
                <Label text=" dias" class="medicament-info"></Label>
            </StackLayout>
        </GridLayout>
        <!-- Dosagem -->
        <GridLayout class="medicament dosage" rows="auto" columns="*, auto">
            <StackLayout row="0" col="0" orientation="horizontal" horizontalAlignment="left" class="medicament-label">
                <Label text="&#xe95c;"  class="icomoon"></Label>
                <Label textWrap="true" text=" Dosagem" class="medicament-info"></Label>
            </StackLayout>
            <StackLayout row="0" col="1" orientation="horizontal" horizontalAlignment="right">
                <DropDown 
                    itemsPadding="0"
                    itemsTextAlignment="center"
                    [items]="dosages"
                    class="input-drop-down"
                    selectedIndex="{{ select_dosage_value }}"
                    (selectedIndexChanged)="changeSelect($event)"
                    hint="Selecione"
                    [ngClass]="{ invalid: (formRecipe.get('dosage').invalid) || formRecipe.get('dosage').value == '' }">
                </DropDown>
            </StackLayout>
        </GridLayout>
        <!-- Intervalo -->
        <GridLayout class="medicament interval" rows="auto, auto" columns="auto * auto">
            <StackLayout row="0" col="0" orientation="horizontal" horizontalAlignment="left" class="medicament-label">
                <Label text="&#xe95d;"  class="icomoon"></Label>
                <Label textWrap="true" text=" Intervalo" class="medicament-info"></Label>
            </StackLayout>
            <ScrollView row="1" col="0" colSpan="3" orientation="horizontal">
                <StackLayout orientation="horizontal">
                    <GridLayout *ngFor="let item of listInterval; let i = index" rows="auto" class="timeline" (tap)="selectInterval(item)" width="100%">
                        <StackLayout orientation="vertical">
                            <Label class="medicament-point" [class.choiced]="item == formRecipe.get('frequency').value"></Label>
                            <Label text="|" class="separate"></Label>
                            <Label text="{{ item }}h" class="time"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
        <!-- Observações do medicamento -->
        <StackLayout class="considerations">
            <TextView 
                formControlName="considerations" 
                hint="Observações do medicamento" 
                [editable]="true"
                [ngClass]="{ invalid: (formRecipe.get('considerations').invalid)}"
                class="medicament-description"
                ngDefaultControl>
            </TextView>
        </StackLayout>
        <!-- Data de vencimento -->
        <FlexboxLayout flexDirection="row" class="vality" (tap)="pickDate()" justifyContent="space-around" alignItems="stretch">
            <StackLayout flexGrow="2" orientation="horizontal" horizontalAlignment="left">
                <Label text="&#xe95e;"  class="icomoon"></Label>
                <Label text="Validade da receita:" class="label"></Label>
            </StackLayout>
            <StackLayout flexGrow="2" orientation="horizontal" horizontalAlignment="right">
                <Label text="{{ picker }}" class="label"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout>
    <StackLayout [visibility]="!canAdd && formRecipe.valid ? 'visible' : 'collapsed'"  row="2" horizontalAlignment="center">
        <FlexboxLayout (tap)="confirmMedicine(item, index)" alignItems="center" class="add-medicine">
            <Label text="&#xe961;"  class="icomoon"></Label>
            <Label text="Confirmar medicamento" class="button"></Label>
        </FlexboxLayout>
    </StackLayout>
    <StackLayout [visibility]="canAdd && (index == list.length - 1) ? 'visible' : 'collapsed'" row="3" horizontalAlignment="center">
        <FlexboxLayout (tap)="newMedicine()" alignItems="center" class="add-medicine">
            <Label text="&#xe92e;"  class="icomoon"></Label>
            <Label text="Novo medicamento" class="button"></Label>
        </FlexboxLayout>
    </StackLayout>
</GridLayout>