.icomoon-fingerprint:before {
  content: "\e909";
}
.icomoon-logo-oficial-v3:before {
  content: "\e908";
}
.icomoon-config:before {
  content: "\e906";
}
.icomoon-messages:before {
  content: "\e907";
}
.icomoon-close:before {
  content: "\e905";
}
.icomoon-exit:before {
  content: "\e904";
}
.icomoon-cell:before {
  content: "\e903";
}
.icomoon-logo-oficial:before {
  content: "\e902";
}
.icomoon-clock-icon:before {
  content: "\e901";
}
.icomoon-add-user:before {
  content: "\e92c";
}
.icomoon-add-document:before {
  content: "\e92d";
}
.icomoon-plus-round:before {
  content: "\e92e";
}
.icomoon-logotipo:before {
  content: "\e900";
}
.icomoon-next:before {
  content: "\e947";
}
.icomoon-prev:before {
  content: "\e948";
}
.icomoon-user:before {
  content: "\e949";
}
.icomoon-medical:before {
  content: "\e94a";
}
.icomoon-document:before {
  content: "\e94b";
}
.icomoon-email:before {
  content: "\e94c";
}
.icomoon-phone:before {
  content: "\e94d";
}
.icomoon-genre:before {
  content: "\e94e";
}
.icomoon-flag:before {
  content: "\e94f";
}
.icomoon-towner:before {
  content: "\e950";
}
.icomoon-pin:before {
  content: "\e951";
}
.icomoon-lock:before {
  content: "\e952";
}
.icomoon-chat:before {
  content: "\e953";
}
.icomoon-text-file:before {
  content: "\e954";
}
.icomoon-edit:before {
  content: "\e955";
}
.icomoon-home:before {
  content: "\e956";
}
.icomoon-paper:before {
  content: "\e957";
}
.icomoon-message:before {
  content: "\e958";
}
.icomoon-calendar:before {
  content: "\e959";
}
.icomoon-search:before {
  content: "\e95a";
}
.icomoon-pills:before {
  content: "\e95b";
}
.icomoon-eye-dropper:before {
  content: "\e95c";
}
.icomoon-time:before {
  content: "\e95d";
}
.icomoon-alert-time:before {
  content: "\e95e";
}
.icomoon-play:before {
  content: "\e95f";
}
.icomoon-start:before {
  content: "\e960";
}
.icomoon-checked:before {
  content: "\e961";
}
.icomoon-error:before {
  content: "\e962";
}
