.page-patients {
    background-color: #F5F5F5;
    padding: 5 0;
}

.list-patients {
    background-color: transparent;
    separator-color: transparent;
}

.item-list{
    .avatar {
        width: 50;
        height: 50;
        border-radius: 25;
    }

    .text-box {
        height: 25;
        text-align: left;
    }
    
    .title {
        font-size: 18;
    }

    .time {
        font-size: 13;
    }

    .description {
        font-size: 14;
    }

    .badge {
        width: 23;
        height: 23;
        border-radius: 11.5;
        background-color: #DD6E42;
        color: white;
    }
    
    .input-font {
        height: 25;
        font-size: 14;
        color: #FFBA49;
        text-align: center;
    }
    &.activated {
        color: white;
        background-color: #83d6b9;
        .badge {
            color: #83d6b9;
            background-color: white;
            font-weight: bold;
        }
    }
}

