@import "~/fonts/variables/_colors.scss";

.item {
    margin: 10;
}

.avatar {
    width: 50;
    height: 50;
    border-radius: 25;
    margin-right: 10;
}

.title {
    margin: -5 0 0;
    font-size: 18;
    color: $color-default;
    font-weight: bold;
}

.strong {
    font-size: 13;
    font-weight: bold;
    margin: 3 3 0;
}

.row-content {
    width: 100%;
    text-align: left;
    margin: 3 0 0;
}

.content-normal {
    font-size: 13;
    color: #5D5D5D;
}

.content {
    font-size: 14;
    color: #5D5D5D;
}

.text {
    margin: 20;
}

.info {
    font-size: 13;
}

.icon-primary{
text-align: center;
 width: 55;
 font-size: 35;
 color: #D3D3D3;
}

.icon-status-true {
    color: #55D3AE;
    font-size: 12;
    font-weight: bold;
    .icomoon {
        font-size: 12;
    }
}

.icon-status-false {
    color: #9C9FA7;
    font-size: 12;
    font-weight: bold;
    .icomoon {
        font-size: 12;
    }
}

.isAndroid {
    &.item-list {
        .icomoon{
            margin-top: 7;
       }
   }
}