<CardView android:class="item-list isAndroid" ios:class="item-list" [shadowOpacity]="0.1" android:shadowOffsetHeight="0" ios:shadowOffsetHeight="1" android:radius="20" ios:radius="10">
    <GridLayout class="item" columns="auto, *" rows="auto, auto, auto" [nsRouterLink]="[link + item.recipe_id]" pageTransition="fade">
        <!-- Imagem da receita -->
        <StackLayout row="0" col="0" horizontalAlignment="center" verticalAlignment="center">
            <ImageCacheIt *ngIf="type == 'image'" horizontalAlignment="center" verticalAlignment="center" class="avatar" [src]="item.image"></ImageCacheIt>
            <Label *ngIf="type == 'icon'" horizontalAlignment="center" verticalAlignment="center" text="&#xe957;"  class="icomoon icon-primary"></Label>
        </StackLayout>
        <!-- Conteúdo da receita -->
        <StackLayout row="0" col="1" colSpan="3">
            <FlexboxLayout flexDirection="row" class="flex-actions">
                <StackLayout orientation="vertical" flexGrow="2">
                    <StackLayout class="row-content" orientation="horizontal">
                        <Label class="title" [text]="item.name"></Label>
                    </StackLayout>
                    <StackLayout class="row-content content-normal" orientation="horizontal">
                        <Label text="Receita gerada em "></Label>
                        <Label fontWeight="Bold" [text]="item.date_generator"></Label>
                    </StackLayout>
                    <StackLayout class="row-content icon-status-true" *ngIf="item.started_out" orientation="horizontal">
                        <Label [text]="'icomoon-checked' | fonticon"  class="icomoon"></Label>
                        <Label class="strong" text="Iniciado"></Label>
                    </StackLayout>
                    <StackLayout class="row-content icon-status-false" *ngIf="!item.started_out" orientation="horizontal">
                        <Label [text]="'icomoon-error' | fonticon"  class="icomoon"></Label>
                        <Label class="strong" text="Não iniciado"></Label>
                    </StackLayout>
                </StackLayout>
            </FlexboxLayout>
        </StackLayout>
    </GridLayout> 
</CardView>