<RadSideDrawer 
    drawerContentSize="310" 
    [gesturesEnabled]="opened"
    (drawerClosed)="drawerStatus(false)"
    (drawerOpened)="drawerStatus(true)">
    <GridLayout tkDrawerContent rows="auto" class="sidedrawer sidedrawer-left">
        <ScrollView row="0">
            <StackLayout class="sidedrawer-content" menu></StackLayout>
        </ScrollView>
    </GridLayout>
    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>