<GridLayout columns="auto, *, auto" rows="auto" class="search-bar" padding="{{ iconPosition == 'left' ? '5 10 6 0' : '5 0 6 10' }}">
    <!-- Ícone -->
    <Label [col]="iconPosition == 'left' ? 0 : 2" row="0" [text]="icon | fonticon" class="icomoon input-font" android:marginTop="7" ios:marginTop="2"></Label>
    <!-- Input -->
    <TextField col="1" row="0" colSpan="2" hint="{{ placeholder }}" ios:paddingLeft="10" autocorrect="false" android:marginTop="-5"  ios:marginTop="2" (textChange)="searchText($event)" [isEnabled]="(enabled) ? enabled : true" class="input-border"></TextField>
</GridLayout>