@import "~/fonts/variables/_colors.scss";

/** Busca */
.search-bar{
    width: 100%;
    height: 45;
    margin: 0;
    text-align: left;
    border-radius: 10;
    background-color: white;
    text-decoration: none;
    --android-line-color: transparent;
  }
  
  .search-bar .input-border {
    width: 100%;
    height: 30;
    border-width: 0;
    padding: 0;
    margin: 0;
    font-style: italic;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    --android-line-color: transparent;
  }
  
  .search-bar .input-font {
    height: 30;
    margin: 5 10 0 0;
    text-align: center;
    color: $color-default;
  }