.messages{
    width: auto;
    height: auto;
    background-color: white;
    padding: 5;
    margin: 5;
    border-width: 1;
    border-color: #eee;
    border-radius: 10;
    GridLayout {
        padding: 10;
    }
}

.doc-avatar {
    width: 40;
    border-radius: 20;
    margin: 0 0 10;
}

.doc-title {
    margin: 0 15 10 0;
}

#hidden{
    height: 40;
    width: 100%;
}

.my-message {
    background-color: #F4F4F4;
    .messages {
        background-color: #F4F4F4;
    }
}

.empty {
    background-color: rgba(85, 211, 174, .7);
    text-align: center;
    Label {
        color: white;
    }
}
