<ScrollView
  class="page page-home bg-cover"
  [ngClass]="{ is_android: isAndroid == true }"
  (loaded)="useFingerprintAuth()"
>
  <GridLayout
    class="bg-cover-color"
    columns="*, *, *, *, *, *, *"
    rows="auto, *"
    [formGroup]="form"
  >
    <StackLayout row="0" colSpan="7" horizontalAlignment="center" class="form">
      <!-- Logotipo -->
      <StackLayout
        class="logotipo"
        orientation="horizontal"
        horizontalAlignment="center"
        width="100%"
      >
        <Label
          [text]="'icomoon-logo-oficial-v3' | fonticon"
          class="icomoon"
          font-size="10"
        ></Label>
      </StackLayout>
      <!-- Formulário de login -->
      <PreviousNextView>
        <StackLayout padding="15">
          <!-- E-mail -->
          <StackLayout
            *ngIf="displayOption.login || displayOption.forgetLogin"
            class="input-field"
          >
            <Label
              text="&#xe158;"
              class="btn mdi input-font"
              font-size="10"
            ></Label>
            <TextField
              formControlName="email"
              class="input hr-light"
              [ngClass]="{ invalid: submitted && form.get('email').invalid }"
              hint="E-mail"
              keyboardType="email"
              autocorrect="false"
              autocapitalizationType="none"
            >
            </TextField>
          </StackLayout>
          <!-- Senha -->
          <AbsoluteLayout
            *ngIf="displayOption.login || displayOption.newPassword"
            class="input-field"
          >
            <Label
              top="-5"
              text="&#xe897;"
              class="btn mdi input-font"
              font-size="10"
            ></Label>
            <TextField
              formControlName="password"
              [secure]="not_show_password"
              class="input hr-light"
              [ngClass]="{ invalid: submitted && form.get('password').invalid }"
              hint="Senha"
            >
            </TextField>
            <Label
              (tap)="not_show_password = !not_show_password"
              text="&#xe417;"
              [ngClass]="{ displaying: !not_show_password }"
              class="btn mdi input-font show-password"
              font-size="10"
            ></Label>
          </AbsoluteLayout>
          <!-- Código -->
          <StackLayout
            *ngIf="displayOption.confirmAccountPassword"
            class="input-field"
          >
            <Label
              text="&#xe158;"
              class="btn mdi input-font"
              font-size="10"
            ></Label>
            <TextField
              formControlName="code"
              class="input hr-light"
              [ngClass]="{ invalid: submitted && form.get('code').invalid }"
              hint="Código de validação"
              autocorrect="false"
              autocapitalizationType="none"
            >
            </TextField>
          </StackLayout>
        </StackLayout>
      </PreviousNextView>
      <!-- Esqueci minha senha -->
      <StackLayout
        *ngIf="displayOption.login || displayOption.forgetLogin"
        class="forgot"
      >
        <Label
          (tap)="
            displayOption.login
              ? changeScreen('forgetLogin')
              : changeScreen('login')
          "
          text="{{
            displayOption.login ? 'Esqueci minha senha' : 'Voltar ao login'
          }}"
        ></Label>
      </StackLayout>
      <!--  Submeter formulário -->
      <Button
        *ngIf="displayOption.login || displayOption.forgetLogin"
        text="{{ displayOption.login ? 'Entrar' : 'Recuperar Senha' }}"
        class="btn btn-primary btn-rounded-sm btn-active"
        (tap)="displayOption.login ? submitLogin() : recoveryPassword()"
        [isEnabled]="!submitted"
      >
      </Button>
      <!--  Validar Código -->
      <Button
        *ngIf="displayOption.confirmAccountPassword"
        text="Validar Código"
        class="btn btn-primary btn-rounded-sm btn-active"
        (tap)="validateCode()"
        [isEnabled]="!submitted"
      >
      </Button>
      <!--  Alterar Senha -->
      <Button
        *ngIf="displayOption.newPassword"
        text="Alterar Senha"
        class="btn btn-primary btn-rounded-sm btn-active"
        (tap)="redefinePassword()"
        [isEnabled]="!submitted"
      >
      </Button>
      <Button
        *ngIf="btnFngerprintAuth && displayOption.login"
        (tap)="useFingerPrint()"
        class="btn btn-primary btn-rounded-sm btn-active icomoon"
        text="&#xe909; Entrar com Biometria"
      >
      </Button>
      <!--  Entrar com o Facebook
            <StackLayout>
                <Button nsRouterLink="/terms" text="&#xf09a; &nbsp;&nbsp;&nbsp;&nbsp;Entrar com o Facebook" class="btn btn-outline btn-rounded-sm btn-icon btn-facebook fa"></Button>
            </StackLayout> -->
      <!--  Esqueci minha senha
            <Button (tap)="forgetPassword()" text="Esqueci minha senha" class="btn btn-simple"></Button> -->
    </StackLayout>
    <!--  Registro de usuário -->
    <StackLayout *ngIf="displayOption.login" row="1" colSpan="7" horizontalAlignment="center" class="form">
      <Button
        nsRouterLink="/register"
        pageTransition="slideLeft"
        text="Ainda não é cadastrado?"
        class="btn btn-rounded-sm btn-secound register"
      ></Button>
    </StackLayout>
  </GridLayout>
</ScrollView>
