.page-recipe {
    background-color: #F5F5F5;
    padding: 10 0;
}

.box-page {
    background-color: white;
    border-radius: 10;
    padding: 18 0;
}

.title-page {
    margin: 8 0;
}

.form-section {
    margin: 20 0;
}

.editable-false,
.editable_false {
    background-color: #eeeeee;
}

.input-textarea {
    padding: 10;
}
.text-area {
    height: 80;
}

.button-font {
    color: #FFBA49;
    font-size: 20;
    margin: 0;
    text-align: right;
}

.button-text {
    color: #FFBA49;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: left;
}

.submit-new-recipe {
    margin: 0 0 30;
}

.switch {
    color: #dddddd;
    &.editable_false {
        background-color: transparent;
        color: #666666;
    }
}

.btn-submit {
    font-size: 16;
    font-weight: bold;
    text-transform: uppercase;
}

.input-label {
    color: #cccccc;
    margin: 0 15 10;
}

.btn-outline{
    width: 100%;
    text-transform: uppercase;
    border-color: #35A9A8;
    border-width: 1;
    color: #35A9A8;
    font-weight: bold;
  }

.btn-submit{
    margin: 20 15;
    background-color: #55D3AE;
    color: white;
    font-size: 16;
    text-transform: uppercase;
    font-weight: bold;
    &.disabled{
        background-color: #dddddd;
      }
}

.h4 {
    font-size: 15;
    margin: 15 0;
}

.padding-page {
    padding: 0 18;
}