<GridLayout android:class="is-android" rows="auto, *" width="100%" height="100%">
<!-- Barra de navegação superior -->
    <GridLayout row="0" class="customActionBar" columns="auto, *, auto" rows="auto">
        <Label col="0" nsRouterLink="/dashboard" clearHistory="true" pageTransition="slideRight" text="&#xe5c4;" class="mdi btn-back-roud"></Label>
        <Label col="3" row="0" [text]="'icomoon-logo-oficial-v3' | fonticon" class="icomoon menu logo"></Label>
    </GridLayout>
<!-- Conteúdo -->
    <GridLayout row="1" class="page page-recipes-document" rows="*, auto" height="100%" width="100%">
        <CardView class="br-10" row="0" ios:margin="2 5" android:margin="5" [shadowOpacity]="0.1" android:shadowOffsetHeight="0" ios:shadowOffsetHeight="1" android:radius="20" ios:radius="10" width="90%">
            <ScrollView class="br-10" #terminalScroller>
                <ActivityIndicator *ngIf="!loadedAsync" busy="true"></ActivityIndicator>
                <WrapLayout *ngIf="loadedAsync" class="document-paper" orientation="horizontal" width="100%">
                    <!-- <CardView margin="2 5" [shadowOpacity]="0.1" shadowOffsetHeight="1" radius="10" class="box-page"> -->
                        <GridLayout rows="auto, auto, auto" top="0" height="100%" width="100%">
                        <!-- Cabeçalho  -->
                            <StackLayout row="0" class="padding-page">
                            <!-- Título -->
                                <Label class="h3 title-page" text="Paciente"></Label>
                            <!-- Busca -->
                                <!-- Contato -->
                                <StackLayout class="contact-user" contact-user [contact]="userPatient" [show-recipe]="false" [show-contact]="false"></StackLayout>
                            </StackLayout>
                            <!-- Anamnese do paciente -->
                            <StackLayout row="1" class="padding-page">
                                <Button [nsRouterLink]="['/anamnesis/' + patientID]" pageTransition="slideLeft" text="Visualizar Anamnese" class="width-full btn-rounded-sm btn-submit m-x-auto"></Button>
                                <Label class="h4 title-page" text="Informações da receita:"></Label>
                            </StackLayout>
                            <StackLayout row="2">
                                <medicine-itens *ngFor="let item of listMedicine; let i = index" [index]="i" [item]="item" [list]="listMedicine" (form)="medicineForm($event)" (valid)="validRecipe($event)"></medicine-itens>
                            </StackLayout>
                        </GridLayout>
    
                    <!-- </CardView> -->
                </WrapLayout>
            </ScrollView>
        </CardView>
        <StackLayout row="1" class="width-full" orientation="vertical">
            <Button
                [class.disabled]="!canCreateRecipe"
                [isEnabled]="canCreateRecipe"
                (tap)="generateRecipe()"
                text="Gerar Receita"
                class="btn-rounded-sm btn-submit">
            </Button>
        </StackLayout>
    </GridLayout>
</GridLayout>