/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.
/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~nativescript-theme-core/css/core.light.css";

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.seravek {
  font-family: 'Seravek';
}

.btn {
    font-size: 18;
    text-transform: none;
}

Button,
.btn {
    text-decoration: none;
}

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

.fa {
  font-family: "FontAwesome, fontawesome-webfont";
  font-size:60;
}

.icomoon {
  font-family: "icomoon";
  font-size:60;
}

/** Geral */
.form-title {
  font-size: 18;
  color: #55D3AE;
  font-weight: bold;
  margin: 30 0;
}

.form-section {
  font-size: 14;
  color: #606060;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15 10;
}

.input,
.input-field{
  height: 40;
  border-width : 1;
  border-color: transparent;
}

.input-field .input {
  color: #828282;
  placeholder-color: #e6e6e6;
  padding-left: 30;
}

.adjustment.input-field .btn {
  font-size: 17;
}

.adjustment.input-field .input {
  padding-left: 25;
}

.input-font {
  margin: 0 -10 -40;
  color:#55D3AE;
  font-size: 20;
}

.bg-layout {
  background-color: #f6f6f6;
  padding: 10;
}

.card-default {
  background-color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.page-register .input-font {
  color:#8EA4D2;
}

.btn-submit{
  height: 50;
  color: white;
  font-size: 25;
  padding-top: 10;
  padding-bottom: 10;
  background-color: #55D3AE;
}

.br-6{
  border-radius: 6;
}


.br-10{
  border-radius: 10;
}

.br-12{
  border-radius: 12;
}

.btn-next{
  padding: 15 0;
}

/** Inputs **/
.input{
  border-bottom-color: white;
  border-width: 1;
  height: 35;
}

.page-register .input,
.page-register .input-drop-down,
.page-my-profile .input,
.page-my-profile .input-drop-down{
  border-bottom-color: #D5D5D5;
}

/* Alertas */
.validate-error{
  color: red;
  font-size: 11;
  margin: -8 2 0;
  position: -ms-page;
}

.input.invalid,
MaskedTextField.invalid,
.input-drop-down.invalid{
  border-bottom-color: #ff1744;
}

/** ActionBar */
ActionBar .menu{
  color: white;
  font-size: 40;
  margin-bottom: 30;
}

ActionBar .logotipo{
  color: white;
  font-size: 28;
}

.margin-with-actionbar{
  margin: 25 15 0;
}

/** SearchBar */
SearchBar{
  background-color: white;
}

.padding-default{
  margin: 30;
}

/** Definições Gerais - Ambiente Privado  */

.icon-btn-radius{
  background-color: #55D3AE;
  padding: 7;
  color: white;
  border-radius: 7;
  font-size: 20;
}

.btn-rounded-sm{
    border-radius: 10;
}

.submit{
    background: #29befe;
    color:white;
    border-radius: 7;
    font-weight: bold
}

.btn-round{
  font-size: 21;
  margin: 7;
  margin-right: 0;
  border-radius: 6;
}

.btn-primary{
  height: 50;
  color:  white;
  background-color: #55D3AE;
}

.btn-mini-round.btn-primary{
  width: 30;
  height: 30;
  color:  white;
  background-color: #55D3AE;
}

.is_android .btn-primary{
  height: 55;
  font-size: 16;
}

.btn-secound{
  height: 50;
  color:  white;
  background-color: #55D3AE;
  vertical-align: center;
  text-align: center;
  padding: 10 0 0;
  margin: 0;
}

.btn-mini-round{
  font-size: 14;
  margin: 7;
  margin-right: 0;
  width: 30;
  height: 30;
  border-radius: 6;
  text-align:center;
}

.html-view{
  font-size: 30;
  color:#666666;
  font-family: 'helvetica';
  margin: 0 -5 0;
  padding: 10;
}

.btn-inner-default{
  width: auto;
  height: auto;
  font-size: 13;
  padding: 10 5;
  border-radius: 6;
  color:white;
  background-color: #55D3AE;
}

.btn-title{
  color: white;
  font-size: 13;
  margin: 0 5;
  padding: 0;
  font-weight: bold;
}

.btn-icon{
  color: white;
  font-size: 12;
  margin: 0;
  padding: 0;
}

.label,
.content{
  font-size: 14;
  color: #989898;
}

.content{
  font-size: 13;
}

.content{
  color: #55D3AE;
}

.btn-white{
  background-color: white;
  color: #1D88B5;
}

.btn-white.btn-round {
  font-size: 15;
  padding: 7;
}

.tab{
  font-size: 25;
}

.content-border-radius{
  border-radius: 5;
  border-color: #f3f3f3;
  border-width: 1;
}

.submit-bold{
  font-weight: bold;
  font-size: 16;
  text-transform: uppercase;
}

.form-label{
  width: 220;
  color: #A7A7A7;
  font-size: 14;  
}

.drop-down-side{
  border-width: 1;
  border-color: #55D3AE;
  border-radius: 4;
  color: #666666;
  margin: 0 10;
}

.drop-down-side.disabled_border{
  border-color: #F2F2F2;
}

.drop-down-side.invalid{
  border-color: #ff1744;
}

.input-side{
  font-size: 14;
  color: #666666;
  border-width: 1;
  border-color: transparent;
  border-bottom-color: #55D3AE;
}

.input-side TextField{
  width: 100%;
  border-width: 1;
  border-color: transparent;
}

.input-side.disabled_border{
  border-bottom-color: #F2F2F2;
}

.input-side.invalid{
  border-bottom-color: #ff1744;
}

.label-text{
  font-size: 15;
  color: #606060;
  margin: 5 10 15;
}

.all-content{
  margin: 0 10 0;
  padding: 10 10 5;
  border-radius: 5;
  border-color: #f3f3f3;
  border-width: 1;
}

.no-border{
  border-width: 0;
}

.border-content{
  border-color: #f3f3f3;
  border-width: 1;
}

.box-default{
  padding: 10;
  border-radius: 5;
  border-color: #f3f3f3;
  border-width: 1;
}

.tag-round{
  width: auto;
  height: 22;
  padding: 3 7;
  border-radius: 25;
  background-color: #35A9A8;
  font-size: 13;
  color: white;
}

.greeting{
  color: #1C5586;
  font-size: 14;
}

.buttons-actions-bottom{
  height: auto;
  width: 100%;
  text-align: center;
}

.buttons-actions-bottom .icons{
  font-size: 32;
  margin: 0;
}

.buttons-actions-bottom .title{
  font-size: 14;
  text-transform: uppercase;
  background-color: transparent;
}

.buttons-actions{
  height: 100%;
  padding: 10 0 0;
}

.width-full{
  width: 100%;
}

.btn-rounded-sm.register{
  width: 90%;
  background: white;
  color: #4189a5;
  font-size: 14;
  padding: 15 30;
}

.border{
    border-width: 1;
    border-color: red;
}


DropDown{
  background-color: transparent;
  color: #666666;
  placeholder-color: #666666;
}

.input-drop-down-field DropDown{
  width: 100%;
  height: 40;
  margin: -3 -10 0;
  padding: 10 10 5 25;
  padding-left: 25;
  border-bottom-width: 1;
  border-bottom-color: #D5D5D5;
}

.input-drop-down-field DropDown.hr-dark{
  background-color: transparent;
  border-bottom-width: 1;
  border-bottom-color: #989898;
}

.is-android .input-drop-down-field DropDown{
  padding-left: 15;
}

.is-android .input-drop-down-field{
  margin: 2 0 0;
}



CheckBox{
  color: white;
  border-color: white;
}

.btn,
FlexboxLayout{
  border-color: transparent;
  text-shadow: 0;
}


.hr-dark{
  border-width: 2;
  border-color: #D5D5D5;
}

SearchBar{
  width: 100%;
}


WrapLayout FlexboxLayout StackLayout{
    background-color: transparent;
    border-color: transparent;
    border-width: 1;
}

/** Custom Action Bar **/
.customActionBar{
  width: 100%;
  height: 62;
  background-color: #f6f6f6;
  padding-bottom: 15;
  margin: 0;
  padding: 0 10 0 0;
}

.customActionBar .menu{
  font-size: 32;
  color: #83d6b9;
  margin: 15 10;
}

.is-android .customActionBar .logo {
  margin: 15 10;
}

.logotipo-box,
.logotipo-box Label{
  height: 60;
}


.customActionBar .logotipo{
  font-size: 35;
  color: white;
}

.is_android .btn-back-roud{
  padding-top: 9;
}

.flex-left Label{
  margin-left: -40;
}

.flex-right Label{
  margin-right: -40;
}

.btn-back-roud{
  vertical-align: middle;
  color: #55D3AE;
  text-align: center;
  margin: 12 0;
}

.btn-back-roud {
  font-size: 30;
  padding: 7 10;
  background-color: transparent;
}

.mdi.menu {
  padding: 7 10;
}


/** Modal **/

.modal{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 12;
  }
  
  .modal .close{
      color: #cccccc;
      font-size: 25;
      text-align: center;
  }
  
  .is_android.modal .close{
      padding-top: 8;
  }
  
  .modal .customActionBar{
      height: auto;
      background-color: transparent;
      padding: 10;
  }
  
  .modal-body{
      width: 100%;
      height: auto;
      padding: 20 5 10;
  }
  
  .modal FlexboxLayout,
  .modal .modal-top{
      width: 100%;
  }
  
  .modal .modal-top{
    height: 40;
  }

  .btn-outline{
    border-color: white;
    border-width: 2;
  }
  
  .is_android .btn-outline {
      height: 40;
  }

  .btn-outline.btn-icon{
    color: white;
  }

.btn.input-font.show-password{
  color:white;
  position: relative;
  margin-top: -5;
  margin-left: 88%;
}

.btn.input-font.show-password.displaying{
  color:#55D3AE;
}

/** Menu */
.drawer-content {
  background-color: white;
  color: black;
}

.drawer-content .drawer-header {
  height: 150;
  background-color: #4caf50;
  margin-bottom: 7;
}

.drawer-content .drawer-links .drawer-link {
  font-size: 15;
  padding: 15;
}

.drawer-content .drawer-links .drawer-link .fa {
  font-size: 20;
  margin-right: 10;
}

.drawer-content .drawer-links .drawer-link .text {
  margin-left: 30;
}

.drawer-content .drawer-links .current {
  background-color: #dddddd;
}

.drawer-content .drawer-separator {
  height: 1;
  background-color: #dddddd;
  margin: 7 0;
}

.content-profile{
  width: 100%;
  height: 100%;
  border-radius: 12;
  background-color:white;
  margin: -40 0 0;
  /* box-shadow: 0 2 1 rgba($color: #000000, $alpha: 1.0) */
}

.menu-profile{
  width: 100%;
  display: table;
  padding: 15;
}

.menu-item{
  color: #454F63;
  font-size: 15;
  margin: 0 5 20;
}

.doc-title {
  color: #55D3AE;
  font-size: 16;
  font-weight: bold;
  margin: 0 0 5;
}

.doc-title.h1{
  font-size: 24;
}

.doc-detail,
.doc-time {
  color:#989898;
  font-size: 13;
  font-style: italic;
}

.hr-dark{
  margin: 0;
  border-bottom-width: 1;
  border-bottom-color: #D5D5D5;
}

/** Badges */

.menu-icon{
  font-size: 16;
  color: #55D3AE;
}

.badge{
  width: 20;
  height: 20;
  border-radius: 100%;
  background-color: red;
  font-size: 14;
  color: #ffffff;
  text-align: center;
}

.menu-divisor{
  width: 88%;
}

.menu-exit{
  margin:30 15 0;
}

.title-page {
  color: #717171;
  font-weight: bold;
  margin: 0 10 20;
  font-size: 18;
}

  /** Animação Wizard **/

      @keyframes step1 {
        0%   { transform: translate(0, 0); }
        100% { transform: translate(-400, 0); }
    }

    @keyframes step2 {
        0%   { transform: translate(0, 0); }
        100% { transform: translate(-400, 0); }
    }

    .step1 {
        animation-name: step1;
        animation-duration: .6s;
        animation-fill-mode: forwards;
    }

    .step2 {
        animation-name: step2;
        animation-duration: .6s;
        animation-fill-mode: forwards;
    }

    .card-float-button,
    .float-button.icomoon {
      width: 80;
      height: 80;
      font-size: 80;
      border-radius: 110;
      text-align: center;
      vertical-align: center;
      padding: 0;
      margin: 0;
      background-color: white;
      border-width: 0;
      color: #55D3AE;
    }

    .sidedrawer-list-item.selected .menu-item {
      color: #55D3AE;
      font-weight: bold;
    }

    .empty-list {
      width: 100%;
      background-color: rgba(85, 211, 174, .7);
      text-align: center;
    }

    .empty-list Label {
      color: white;
      padding: 15;
  }

  .item-list {
    border-radius: 10;
    background-color: white;
    padding: 10;
    margin: 7;
    border-width: 1;
    border-color: white;
}

.page {
  background-color:#F5F5F5;
}

.card-view {
  border-radius: 10;
}

.line{
  width: 100%;
  height: 20;
  background-image: url('~/image-source/line-dashed.png');
  background-repeat: repeat-x;
  background-position: center bottom;
}

.title-page {
  padding: 25 0 0;
}

ActivityIndicator{
  height: 30;
}

.empty-view {
  width: 100%;
  text-align: center;
  color: #6BE2BF;
}

.empty-view .icomoon{
  font-size: 96;
}

.empty-view .text {
  font-size: 20;
  margin: 30 0;
}