.contact-user {
    padding:5 0;
    background-color:transparent;
    .doc-title {
        color: #35A9A8;
        font-weight: bold;
    }
    .doc-avatar {
        width: 45;
        height: 45;
        margin: 0 10 0 5;
        border-radius: 22.5;
    }
    // .icomoon {
    //     width: 40;
    //     height: 40;
    //     font-size: 20;
    //     padding: 0;
    //     margin: 0 10;
    // }
    .icomoon:last-child {
        margin-right: 0;
    }
  }