<GridLayout class="contact-user" columns="auto, *, 40, 50, 50" rows="auto, auto" horizontalAlignment="center" width="100%">
    <!-- Imagem do usuário -->
    <StackLayout col="0" row="0">
        <ImageCacheIt *ngIf="userContact" loadMode="sync" horizontalAlignment="left" verticalAlignment="center" class="doc-avatar" src="{{ userContact.image }}"></ImageCacheIt>
    </StackLayout>
    <!-- Nome do usuário -->
    <StackLayout col="1" row="0" [colSpan]="showContact ? 2 : 4" horizontalAlignment="left" verticalAlignment="center">
        <Label *ngIf="userContact" [text]="userContact.name" horizontalAlignment="left" verticalAlignment="center" class="doc-title" textWrap="true"></Label>
    </StackLayout>
    <!-- Contatos do usuário -->
    <Label *ngIf="showContact && userContact" (tap)="sendEmail(userContact.email)" col="3" row="0" horizontalAlignment="left" verticalAlignment="center" text="&#xe94c;"  class="icomoon icon-btn-radius"></Label>
    <Label *ngIf="showContact && userContact" (tap)="doCall(userContact.telephone)" col="4" row="0" horizontalAlignment="right" verticalAlignment="center" text="&#xe94d;"  class="icomoon icon-btn-radius"></Label>
    <!-- Receita vinculado ao usuário -->
    <StackLayout *ngIf="showRecipe && userContact" [nsRouterLink]="['/recipes-document/' + userContact.recipe_id]" pageTransition="slideLeft" col="2" row="1" colSpan="3" horizontalAlignment="right" verticalAlignment="center">
        <FlexboxLayout class="btn-inner-default">
            <Label text="Visualizar Receita" class="btn-title"></Label>
        </FlexboxLayout>
    </StackLayout>
</GridLayout>