<StackLayout class="modal" [ngClass]="{ is_android: isAndroid == true }">
    <StackLayout class="customActionBar">
        <FlexboxLayout flexDirection="row">
            <StackLayout flexGrow="2" class="text-left"></StackLayout>
            <StackLayout flexGrow="2"></StackLayout> 
            <StackLayout  alignSelf="flex-end" class="text-right">
                <Label (tap)="close()" text="&#xe962;"  class="icomoon close" font-size="10"></Label>
            </StackLayout>
        </FlexboxLayout>
    </StackLayout>
    <StackLayout>
        <!--< Conteúdo -->
        <StackLayout class="modal-body">
            <AbsoluteLayout class="form">
                <StackLayout width="100%" [formGroup]="form">
                    <Label class="h3 modal-title" text="Criar Receita"></Label>
                    <!-- CPF -->
                    <StackLayout>
                        <MaskedTextField
                            returnKeyType="search" 
                            formControlName="cpf" 
                            name="cpf"
                            (textChange)="getValue($event, 'cpf')"
                            mask="000.000.000-00"
                            hint="CPF do Paciente"
                            class="input-radius"
                            keyboardType="phone"
                            [ngClass]="{ invalid: (submitted && this.form.get('cpf').invalid)}" 
                            ngDefaultControl>
                        </MaskedTextField>
                    </StackLayout>
                    <!--  Submissão da Busca -->
                    <StackLayout>
                        <Button 
                            (tap)="searchCPF()"
                            text="Avançar"  
                            class="btn btn-rounded-sm btn-submit"
                            keyboardType="search"
                            isEnabled="{{!inProccess}}">
                        </Button>
                    </StackLayout>
                    <!-- Resultado da Busca: Não encontrado -->
                    <StackLayout *ngIf="patient == null && messageError !== null" class="show-patient">
                        <FlexboxLayout flexDirection="column" width="100%">
                            <TextView alignSelf="center" editable="false" class="text-view">
                                <FormattedString>
                                    <Span class="title" [text]="messageError" fontWeight="Bold"></Span>
                                </FormattedString>
                            </TextView>
                        </FlexboxLayout>
                    </StackLayout>
                </StackLayout>
            </AbsoluteLayout>
        </StackLayout>
        <!-- Conteúdo >-->
    </StackLayout>
</StackLayout>