  
  .btn-outline-blue{
    height: 50;
    border-width: 1;
    color: #8FC9B8;
    border-color: #8FC9B8; 
    font-size: 14;
}

.btn-outline-blue.selected{
    color: white;
    border-color: white; 
    background-color: #8FC9B8; 
}

.modal-title{
    width: 100%;
    display: block;
    text-align: center;
    color: #63b0b0;
    font-weight: bold;
    margin:10;
}

.border{
    border-width: 1;
    border-color: aquamarine;
}

.text{
    font-size: 14;
    color: #5D5D5D;
    font-weight: normal;
}

.bold,
.info,
.info-title{
    font-size: 13;
    font-weight: bold;
    color: #5D5D5D;
}

.info-title{
    color:#8FC9B8;
}

.info{
    color:#8FC9B8;
}

.modal .btn-final{
    font-size: 15;
    font-weight: bold;
}

.ball{
    width: 7;
    height: 7;
    top:8;
    border-radius: 3.5;
}

.ball-first{
    left: 1;
}

.is_android .ball{
    top:7;
}

.dashed-line{
    width: 100%;
    height: 20;
    color: #1C5586;
}


.time-line{
    width: 100%;
    height: 20;
    margin: 0 0 5;
}

.switch{
    margin: 10 0 0;
}


.input-radius {
    width: 90%;
    height: 45;
    background-color: white;
    border: 0;
    color: #5d5d5d;
    text-align: center;
    border-bottom-color: #cfd2da; 
    border-bottom-width: 1;
    font-size: 20;
    padding: 5 10;
}

.input-radius.invalid {
  border-bottom-color: #ff1744;
}

.btn-submit {
    width: 90%;
    font-size: 16;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #83d6b9;
    color: white;
    margin: 30 0;
}

.show-patient {
    width: 90%;
    margin: 20;
    border-radius: 9;
    border-width: 2;
    border-color: #8FC9B8; 
    .title-content {
        font-size: 15;
    }
    .text-view {
        margin: 0 10;
    }
    .title {
        color: #8FC9B8;
        font-size: 17;
    }
    .new-recipe {
        font-size: 30;
        color: white;
        background-color: #8FC9B8;
        border-radius: 7 0 7 0;
    }
}